<HTML>
<head>
<link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="ui menu fixed inverted">
    <a class="item" href="/"><img class="logo" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png">
        PokeInfo</a>
    <a href="/" class="item"><i class="home icon"></i>Home</a>
    <div class="item"><form class="ui mini" action="/search/" method="POST"><input type="text" name="pokeID" placeholder="Name or ID...">
  <button class="ui button mini red"><i class="search icon"></i> Search</button></form></div>
</div>
<div class="ui main text container">
    <div class="ui top attached segment">

